* {
  font-family: "SpaceMono Nerd Font";
}

#waybar {
  background: #091215;
  color: #fff;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  color: #ff6b6b;
}

#window {
  padding-left: 8px;
  color: #fff;
}

#network {
  color: #14b8a6;
  padding-left: 8px;
}

#pulseaudio {
  color: #ffcc66;
  margin-right: 4px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #ff6b6b;
}
